[submodule "themes/potato-dark"]
	path = themes/potato-dark
	url = https://github.com/surajmandalcell/potato-dark
[submodule "public"]
	path = public
	url = git@github.com:lucasmeijer/lucasmeijer.github.io.git
